<ion-header>

 

</ion-header>


<ion-content padding class="card-background-page">

	<p>Creer un compte pour acceder au jouir des fonctionnalités de OYOUN</p>
	<ion-list>

	   	<ion-item>
		    <ion-label floating>  <ion-icon name="person"></ion-icon> Nom</ion-label>
		    <ion-input type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label floating>  <ion-icon name="person"></ion-icon> Prenom</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>


		<ion-item>
		    <ion-label floating><ion-icon name="contact"></ion-icon> Contact</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>


		<ion-item>
		    <ion-label floating>  <ion-icon name="clipboard"></ion-icon> Adresse Email</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label floating><ion-icon name="lock"></ion-icon> Mot de passe</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label floating><ion-icon name="lock"></ion-icon> Confirmer Mot de passe</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>

	</ion-list>
	
	<ion-grid>
	  <ion-row>
	    <ion-col col-6>
			<div padding>
			  <button ion-button clear  block (click)='gotoconnexionPage()'><ion-icon name="person"></ion-icon> Se connecter</button>
			</div>
	    </ion-col>
	    <ion-col>
			<div padding>
			  <button ion-button  block (click)='gotopageMenu()'>Inscription</button>
			</div>
		</ion-col>
	  </ion-row>
	</ion-grid>
	
		
</ion-content>
