<ion-header>
  <ion-navbar [color]="isAndroid ? 'royal' : 'primary'">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Mon Medecin personnel
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-calendar #calendar></ion-calendar>
</ion-content>