page-home {

		.first-page
		   {
		   		height: 50%;
		   		width: 100%;
		   		background-image: url('../../assets/imgs/oyoun.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
		   }

		.bienvenue
		{
			text-align: center;
			margin-top: 4em;
			font-size: 1.2em;
		}

		.conti
		{
			margin-top: 2em;
			margin-left: 25%;
		}
}