<ion-content padding >
	
	<div class="first-page">
	</div>
	<p class="bienvenue">Bienvenue sur votre application de suivi numerique. </p>

	<button ion-button large icon-end color="primary" class="conti" (click)="openloginPage()">
	        Continuez 
	</button>
</ion-content>
