<ion-tabs class="tabs-stable tabs-icon-top" [color]="isAndroid ? 'royal' : 'primary'">
    <ion-tab [root]="rootPage" title="Track" icon="ion-map">
        // Tab content goes here
    </ion-tab>
    <ion-tab [root]="rootPage" title="Chat" icon="ion-chatboxes">
        // Tab content goes here
    </ion-tab>
    <ion-tab [root]="rootPage" title="Buddies" icon="ion-ios-people">
        // Tab content goes here
    </ion-tab>
    <ion-tab [root]="rootPage" title="Checklist" icon="ion-checkmark">
        // Tab content goes here
    </ion-tab>
</ion-tabs>