
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Ma grossesse
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="cards-bg">
	<p>Ce service vous permet d'avoir des informations necessaire sur le suivi de votre grossesse</p>

	<ion-list>
		<ion-item>
		  <ion-label>Date de derniere règle(DDR)</ion-label>
		  <ion-datetime displayFormat="DD MMMM YYYY" [(ngModel)]="calcul.date" monthNames="Janvier,Février, Mars,Avril,Mai,Juin,Juillet,Août,Septembre,Octobre,Novembre,Decembre" 
		  (ngModelChange)="functionCalcul()"></ion-datetime>
		</ion-item>	
	</ion-list>	

	
	<ion-list>
  <ion-item *ngFor="let cal of calculs">
    <h2>{{ cal.text }}</h2>
    <p>{{ cal.date }}</p>
  </ion-item>
</ion-list>
	
</ion-content>
