<ion-header>

 

</ion-header>


<ion-content padding class="card-background-page">

	<p>Connectez-vous pour jouir des fonctionnalités de OYOUN</p>
	<ion-list>

	   	<ion-item>
		    <ion-label floating>  <ion-icon name="person"></ion-icon> Email </ion-label>
		    <ion-input type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label floating><ion-icon name="lock"></ion-icon> Mot de passe</ion-label>
		    <ion-input type="password"></ion-input>
		</ion-item>

	</ion-list>
	
	<ion-grid>
	  <ion-row>
	    <ion-col>
			<div padding>
			  <button ion-button clear  block (click)='gotoInscriptionPage()'><ion-icon name="person"></ion-icon> S'inscrire</button>
			</div>
	    </ion-col>
	    <ion-col>
			<div padding>
			  <button ion-button  block (click)='gotopageMenu()'>Connexion</button>
			</div>
		</ion-col>
	  </ion-row>
	</ion-grid>
	
		
</ion-content>
