
<ion-header>
  <ion-navbar [color]="isAndroid ? 'royal' : 'primary'">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Mon Medecin personnel
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

	<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/medecin.jpg">
    </ion-avatar>
    <h2>Marty McFly</h2>
    <p>Gynecologue Specialiste depuis 27ans</p>
  </ion-item>

  <ion-card-content>
	    <ion-list>
		  <ion-item>
		    <h2><b>Tel:</b> </h2>
		    <h3>+229 67 468 259</h3>
		  </ion-item>

		  <ion-item>
		    <h2><b>Email:</b> </h2>
		    <h3>marty@gmail.com</h3>
		  </ion-item>

		  <ion-item>
		    <h2><b>Adresse:</b> </h2>
		    <h3>476 Rue de djonbon</h3>
		  </ion-item>
		</ion-list>
  </ion-card-content>

</ion-card>
</ion-content>
