
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >
	<ion-card *ngFor="let form of formations">

	  <ion-item>
	    <h2>{{ form.titre }}</h2>
	  </ion-item>

	  <img src="{{form.image}}">

	  <ion-card-content>
	    <p>{{form.description}}...<strong class="lire">Lire plus</strong>
	    </p>
	  </ion-card-content>

	</ion-card>
</ion-content>
