<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
    	<ion-list>
		  <ion-item>
		    <ion-avatar item-start>
		      <img src="../../assets/imgs/oyoun.png" alt="">
		    </ion-avatar>
		    <h2>KOUKOUVO Checolia</h2>
		    <p>Utilisateur oyoun</p>
		  </ion-item>
		</ion-list>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-list class="list_menu">

	    <button ion-item  (click)="openPage(MenuAcceuilPage)">
	    	 <ion-icon name="document"></ion-icon>
	       Acceuil
	    </button>

	    <button ion-item (click)="openPage(MaGrossessePage)">
	    	  <ion-icon name="woman"></ion-icon>
	        Ma grossesse
	    </button>

        <button ion-item (click)="openPage(TabsMedecinPage)">
        	<ion-icon name="medical"></ion-icon>
	        Mon Médecin personnel
	    </button>

	     <button ion-item >
	     	<ion-icon name="calendar"></ion-icon>
        	Consultation en ligne
      	</button>

	    <button ion-item >
	    	  <ion-icon name="medkit"></ion-icon>
	        Auto evaluation
	    </button>

	    <button ion-item >
	    	<ion-icon name="settings"></ion-icon>
	        Paramètres
	    </button>

	    <button ion-item (click)="logout()">
	    	<ion-icon name="log-out" ></ion-icon>
        	Deconnexion
      	</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav side="right" #content [root]="rootPage"></ion-nav>